.main{
    width:100%;
    height:100%;
    position: absolute;
    top:0%;
    left:0%;
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
}

.contenedor_1{
    height:100%;
    width:30%;
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
}

.contenedor_1_chat_contactos{
    border-radius: 15px;
    background: #f2f2f2;
    width:90%;
    height:20%;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3%;
    justify-content: center;
}

.contenedor_1_chat_contactos_imagen{
    width: 20%;
    height: 80%;
    border-radius: 20px;

}

.contenedor_1_chat_contactos_campotexos{
    height: 80%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    background: none;
    gap: 0%;
}

.contenedor_1_chat_contactos_texos_1{
    width: 100%;
    font-size: 18px;
    background: none;
    margin: 0%;

}

.contenedor_1_chat_contactos_texos_2{
    width: 100%;
    font-size: 14px;
    background: none;
    margin: 0%;

}

.contenedor_1_chat_contactos_texos_3{
    width: 20%;
    font-size: 14px;
    background: none;
    margin: 0%;

}


.contenedor_2{
    height:100%;
    width:70%;
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 20px #cccccc;
}

.contenedor_2_encabezado{
    height:10%;
    width:100%;
    background: #eeeeee;
    display: flex;
    flex-wrap: wrap;
}

.contenedor_2_chat{
    height:75%;
    width:100%;
    background: #ffffff;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor_2_chat_2{
    height:75%;
    width:100%;
    background: #ffffff;
    display:flex;
    flex-wrap: wrap;
    gap: 1%;

}

.contenedor_2_inferior{
    height:15%;
    width:100%;
    background: #eeeeee;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: -5px 0px 20px #cccccc;

}

.contenedor_2_form{
    height:100%;
    width:100%;
    background: #eeeeee;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

.sistema_de_mensajes_campo{
    background: #ffffff;
    border-radius: 20px;
    width:60%;
    height: 60%;
    border: none;
    color: #171717;
}

.contenedor_2_form_opciones{
    width: 11%;
    height: 60%;
    background: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.sistema_de_mensajes_submit{
    background: #ffffff;
    border-radius: 20px;
    width:40%;
    height: 45%;
    cursor: pointer;
    border: none;

}

.contenedor_mensaje_chica{
    width:100%;
    height: 20%;
    background: none;
    display: flex;
    flex-wrap: wrap;

}

.mensaje_chica{
    width:40%;
    height: 100%;
    background: #dcdcdc;
    border-radius:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: 2s;
    margin-left:5%;
}

.contenedor_mensaje_yo{
    justify-content: right;
    width:100%;
    height: 20%;
    background: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;

}

.mensaje_yo{
    width:40%;
    height: 100%;
    background: #f2f2f2;
    border-radius:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: 2s;
    margin-right:5%;
}


.defecto{
    position: absolute;
    top:150%;
    left:0%;
    width:20%;
    height: 40%;
    background: #ff0000;
}





.main_inicio{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenedor_inicio{
    width:30%;
    height:70%;
    border-radius: 10px;
    border: 1px solid #cccccc;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

.inicio_contenedor_imagen{
    width:100%;
    height:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio_imagen{
    width: 30%;
}

.inicio_contenedor_titulo{
    width:100%;
    height:20%;
    text-align: center;
    background: #ffffff;
}

.inicio_texto_titulo{
    color:#171717;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
}

.inicio_texto_subtitulo{
    color:#171717;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
}

.inicio_contenedor_iniciarsesion{
    width:100%;
    height:55%;
    text-align: center;
    background: none;
}

.inicio_contenedor_iniciarsesion_form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:2%;
}

.inicio_contenedor_iniciarsesion_form_campo{
    width:80%;
    height: 15%;
    border-radius: 5px;
    border: 1px solid #dddddd;
}

.inicio_contenedor_iniciarsesion_form_olvidemicontrasena{
    background: none;
    border:none;
    color:#0062ff;
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 83%;
    text-align: left;
}

.inicio_contenedor_iniciarsesion_form_subtexto{
    width: 80%;
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;

    color:#828282;
    margin: 10%;

}

.inicio_contenedor_iniciarsesion_form_2{
    height: 100%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: none;
}


.inicio_contenedor_iniciarsesion_form_boton_1{
    background: none;
    border: none;
    height:15%;
    width: 25%;
    margin-right: 18%;
    color:#0062ff;
    cursor:pointer;
    border-radius:5px;
    transition: 1s;
}

.inicio_contenedor_iniciarsesion_form_boton_1:hover{
    background: #aacaff;
    border: none;
    height:15%;
    width: 25%;
    margin-right: 18%;
    color:#0062ff;
    cursor:pointer;
    border-radius:5px;

}

.inicio_contenedor_iniciarsesion_form_boton_2{
    background: #0062ff;
    border:none;
    color: #ffffff;
    height:15%;
    width: 25%;
    border-radius:5px;
    margin-left: 18%;
    cursor:pointer;
}

.contenedor_inicio_2{
    width:50%;
    height:70%;
    border-radius: 10px;
    border: 1px solid #cccccc;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    animation: cambio 1s linear;
}

.inicio_imagen_2{
    width: 15%;
}

.inicio_contenedor_imagen_2{
    width:95%;
    height:20%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.inicio_contenedor_titulo_2{
    width:90%;
    height:20%;
    text-align: left;
    background: #ffffff;
}

@keyframes cambio{
    0%{width:30%;}

    100%{width:50%;}
}

.inicio_contenedor_iniciarsesion_form_campo_2{
    width:80%;
    height: 15%;
    border-radius: 5px;
    border: 1px solid #dddddd;
}

.inicio_contenedor_iniciarsesion_form_contrasena_1{
    width:36%;
    height: 15%;
    border-radius: 5px;
    border: 1px solid #dddddd;
    margin-right: 3%;
}

.inicio_contenedor_iniciarsesion_form_contrasena_2{
    width:36%;
    height: 15%;
    border-radius: 5px;
    border: 1px solid #dddddd;
    margin-left: 3%;
}

.inicio_imagen_astronauta{
    width: 50%;
    transform: scaleX(-1);
    position: relative;
    top:-80%;
    left: 24%;
}

.inicio_imagen_astronauta_2{
    width: 50%;
    position: relative;
    top:-80%;
    left: 24%;
}

.inicio_contenedor_iniciarsesion_form_contrasena_3{
    width:24%;
    height: 15%;
    border-radius: 5px;
    border: 1px solid #dddddd;
    margin-left: 2%;
}

.registro_satisfactorio_paloma{
    width:10%;
}